.c-footer {
  background-color: #90d4c5;
  padding: 2rem 0;
  flex-direction: column;

  svg,
  path,
  a {
    fill: #2f7867;
    color: #2f7867;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #fff;
      fill: #fff;
    }
  }

  ul:not(.c-footer__social) {
    @include breakpoint(lg) {
      gap: 4rem;
    }
    li:last-child {
      display: none;
    }
  }

  #galv {
    width: 10rem;
  }
}
